* {
    margin: 0;
    padding: 0;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared style css */
.bg-color-1 {
    background-color: #1A0B2E;
}

.color-gradent {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

.display-flex {
    display: flex;
}

.btn {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    border: none;
    border-radius: 1000px;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(45deg, #FB09B4, #F7E93F, #9100F8);
}

button {
    font-family: "Inter", sans-serif;
}

.heading {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
}

/* navbar style css */
.nav-bar {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 840px;
    padding: 24px 0;
}

.logo img {
    width: 100%;
    cursor: pointer;
}

.nav-link {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    margin-right: 32px;
    text-decoration: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

/* banner section css */
.banner {
    /* text-align: center; */
    max-width: 1600px;
    padding: 101px 0;
    margin: 0 auto;
    color: #FFFFFF;
}

/* podcust circle */
.podcust-circle {
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.circle-image {}

.circle-image img {
    width: 116px;
    max-width: 100%;
    height: auto;
}

.circle {
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    /* width: 350px; */
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}

.badge {
    position: absolute;
    top: 18px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    background: #00FF88;
    color: #1A0B2E;
    border-radius: 50px;
    transform: translate(100px, 0px);
}


/* podcust-container */
.podcust-container {
    text-align: center;
}

.podcust-container h1 {
    font-size: 60px;
    font-weight: 800;
}

.podcust-container p {
    margin: 8px 0 24px;
}

.btn-pod {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.btn-pod-1 {
    justify-content: center;
    gap: 5px;
}

.btn-pod-2 {
    justify-content: center;
    gap: 5px;
    padding: 12px 20px;
    border: 1px solid #00FF88;
    border-radius: 1000px;
    background-color: transparent;
    color: #00FF88;
    cursor: pointer;
}

.btn-pod-2:hover {
    transform: scale(1.05);
}

/* about section css */
#about {
    background-color: #1A0B2E;
    color: #FFFFFF;
    padding: 50px 0 120px;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
}

.about-heading {
    /* max-width: 1200px; */
    margin: 0 auto;
    text-align: center;
}

.about-heading h2 {
    margin-bottom: 16px;
}

.about-heading p {
    line-height: 30px;
    max-width: 800px;
    margin: 0 auto;
    opacity: 80%;
}

.about-heading .a-pera {
    margin-bottom: 16px;
}

.about-container hr {
    margin: 80px 0;
    opacity: 10%;
}

.about-rating {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.r-heading {
    color: #00FF88;
}

.sub-heading {
    opacity: 80%;
}

/* small device */
@media screen and (max-width: 576px) {
    .nav-bar {
        padding: 16px 20px;
    }

    .nav-menu,
    .btn-nav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    /* Banner podcust section css */
    .podcust-circle {
        height: 300px;
    }

    .circle {
        width: 200px;
        height: 200px;
        transform: translate(0px, 25px);
    }

    .circle-image img {
        width: 40px;
    }

    .podcust-container h1 {
        font-size: 30px;
    }

    .podcust-container p {
        font-size: 14px;
    }

    .badge {
        transform: translate(90px, 0);
    }

    /* about rating section css */
    .about-rating {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    #about {
        padding: 40px 20px;
    }
}